@model IEnumerable<DoAnCoSoAPI.Entities.user_report>

@{
    ViewData["Title"] = "Index";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-5">
    <h1 class="mb-4">Danh Sách Báo Cáo</h1>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID_Post</th>
                <th>Reason</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.PostId)</td>
                    <td>
                        @{
                            string reason = item.Reason;
                            if (reason.Length > 20)
                            {
                                <span class="short-reason">@reason.Substring(0, 20)</span>
                                <span class="more-reason" style="display:none">@reason</span>
                                <a href="javascript:void(0);" class="toggle-reason">...</a>
                            }
                            else
                            {
                                <span>@reason</span>
                            }
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-sm btn-rounded" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $("body").on("click", ".toggle-reason", function () {
            var $this = $(this);
            var shortReason = $this.siblings(".short-reason");
            var moreReason = $this.siblings(".more-reason");

            if (shortReason.is(":visible")) {
                shortReason.hide();
                moreReason.show();
                $this.text("ẩn bớt");
            } else {
                shortReason.show();
                moreReason.hide();
                $this.text("...");
            }
        });
    });
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
