@model IEnumerable<DoAnCoSoAPI.Entities.User_Post>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updatedAt)
            </th>
            <th>
                Images
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createdAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.updatedAt)
                </td>
                <td>
                    @if (item.images != null && item.images.Any())
                    {
                        foreach (var image in item.images)
                        {
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(image)" alt="Post Image" style="max-width: 100px; max-height: 100px;" />
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>