@model IEnumerable<DoAnCoSoAPI.Entities.User_Post>

@{
    ViewData["Title"] = "Index";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="custom-select-container">
                <form class="form-inline mb-3">
                    <select class="custom-select mr-sm-2 dropdown-orange">
                        <option selected>Chọn khối</option>
                        <option value="1">Khối 1</option>
                        <option value="2">Khối 2</option>
                        <option value="3">Khối 3</option>
                        <!-- Thêm các tùy chọn khác nếu cần -->
                    </select>
                    <select class="custom-select mr-sm-2 dropdown-orange">
                        <option selected>Chọn môn học</option>
                        <option value="1">Toán</option>
                        <option value="2">Văn</option>
                        <option value="3">Anh</option>
                        <!-- Thêm các tùy chọn khác nếu cần -->
                    </select>
                </form>
                <div class="d-flex align-items-center mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="color:orange; padding: 10px 10px 10px 10px">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
                    <form class="form-inline ml-2">
                        <input type="text" placeholder="Nhập văn bản vào đây..." class="large-input">
                    </form>
                </div>
                <div class="button-container">
                    <a id="createQuestionButton" asp-controller="UserPost" asp-action="Create" class="button">Tạo câu hỏi</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-warning table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Tên người tạo
                </th>
                <th>
                    ID bài đăng
                </th>
                <th>
                    Chủ đề
                </th>
                <th>
                    Nội dung
                </th>
                <th>
                    Ngày tạo
                </th>
                @*             <th>
                Cập nhật tại
                </th> *@
                <th>
                    Hình ảnh
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.createdAt)
                    </td>
                    @*                 <td>
                @Html.DisplayFor(modelItem => item.updatedAt)
                </td> *@
                    <td>
                        @if (item.images != null && item.images.Any())
                        {
                            foreach (var image in item.images)
                            {
                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(image)" alt="Post Image" style="max-width: 100px; max-height: 100px;" />
                            }
                        }
                    </td>
                    <td>
                        <div id="likes-count-@item.id">@item.Likes</div>
                        <button class="like-btn" data-postid="@item.id">Like</button>
                    </td>
                    <td>
                        <a href="@Url.Action("Index", "Comment", new { postId = item.id })" class="btn btn-primary">Comment</a>
                    </td>
                    <td>
                        <p>
                            <a asp-controller="Comment" asp-action="AddComment" asp-route-postId="@item.id">Create New Comment</a>
                        </p>
                        <p>
                            <a asp-controller="userReport" asp-action="Create" asp-route-postId="@item.id">Report</a>
                        </p>
                    </td>
                    <td>
                        @Html.ActionLink("Update", "Update", new { id = item.id }) |

                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(".like-btn").click(function () {
        var postid = $(this).data("postid");
        var likeCount = $("#likes-count-" + postid);

        $.ajax({
            type: "POST",
            url: "/like/" + postid,
            success: function (data) {
                likeCount.text(data.likes);
            },
            error: function () {
                alert("Đã xảy ra lỗi khi like bài đăng.");
            }
        });
    });
</script>